@import"./pages.css";
.text {
    display: flex;
    margin: 7px;
    align-items: center;
    align-self: center;
}

#myTextArea {
    rows: 1;
    width: 50px;
}

.textb {
    background-color: black;
    align-items: center;
    justify-content: center;
}

.textr {
    background-color: teal;
    align-items: center;
    justify-content: center;
}

.content {
    display: grid;
    grid-template-row: 200px 1fr;
    margin: 50px;
}

#check {
    display: flex;
    align-self: center;
    align-items: center;
    justify-content: center;
}

.submit:hover {
    background-color: darkblue;
}

.submit {
    background-color: teal;
}

@media only screen and (min-width: 500px) {
    #myTextArea {
        rows: 1;
        width: 50vw;
    }
}